<% layout("front/layout") %>
<main class="main section-color-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="top-title">
                                <ul class="breadcrumb">
                                    <li class="item"><a href="/"> Anasayfa </a></li>
                                    <li class="item"> Giriş Yap </li>
                                </ul>
                                <h1 class="h-side-title page-title page-title-big text-color-primary">GİRİŞ YAP</h1> 
                            </section> <!-- /. content-header --> 
                            <div class="widget widget-box box-container">
                                <div class="widget-header text-uppercase">
                                    <h2>Paketler</h2>
                                </div>
                                <div class="">
                                    <table class="table table-striped footable" style="margin-bottom: 0px;" >
                                        <thead>
                                            <tr>
                                                <th  data-breakpoints="xs" data-type="number">#</th>
                                                <th data-type="html">Paket Adı</th>
                                                <th data-type="html">Fiyatı</th>
                                                <th data-breakpoints="xs sm md" data-type="html">Ücretsiz Aktivasyon</th>
                                                <th data-breakpoints="xs sm md" data-type="html">İlan Sayısı</th>
                                                <th data-breakpoints="xs sm" data-type="html">Kaç Gün</th>
                                                <th data-breakpoints="xs sm md" data-type="html">Ücresiz İlan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    Free <i class="fa fa-eye"></i>
                                                </td>
                                                <td>0.00 ₺</td>
                                                <td>
                                                    <i class="fa fa-remove"></i>
                                                </td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    Basic <i class="fa fa-eye"></i>                                        
                                                </td>
                                                <td>10.00 ₺</td>
                                                <td><i class="fa fa-ok"></i></td>
                                                <td>30</td>
                                                <td>10</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    Premium <i class="fa fa-eye"></i>
                                                </td>
                                                <td>20.00 ₺</td>
                                                <td><i class="fa fa-ok"></i></td>
                                                <td>30</td>
                                                <td>40</td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- /. widget-AVAILABLE PACKAGES -->   
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="widget  widget-box box-container widget-form form-main" id="form">
                                        <div class="widget-header">
                                            <h2>Giriş Yap</h2>
                                        </div>
                                        <form action="#" method="post" class="form-additional"> 
                                            <div class="control-group">
                                                <label class="control-label" for="inputUsername2">Kullanıcı Adı</label>
                                                <div class="controls">
                                                    <input type="text" name="username" value="" class="form-control" id="inputUsername2" placeholder="Kullanıcı adı" />                      
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputPassword1">Şifre</label>
                                                <div class="controls">
                                                    <input type="password" name="password" value="" class="form-control" id="inputPassword1" placeholder="Şifre" />                      
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="remember" id="remember" value="true" /> Beni Hatırla</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="btn btn-danger">Giriş Yap</button>
                                                    <a href="#"><em>Şifrenizi mi unuttunuz ?</em></a>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.widget-form--> 
                                </div> 
                                <div class="col-lg-6">
                                    <div class="widget  widget-box box-container widget-form form-main" id="form2">
                                        <div class="widget-header">
                                            <h2>Kayıt Ol</h2>
                                        </div>
                                        <form action="#" method="post" class="form-additional">                                                 
                                            <div class="control-group">
                                                <label class="control-label">Adınız Soyadınız</label>
                                                <div class="controls">
                                                    <input type="text" name="name_surname" value="" class="form-control" id="inputNameSurname" placeholder="Adınız ve soyadınız" />                                  
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Mail Adresi</label>
                                                <div class="controls">
                                                    <input type="text" name="username" value="" class="form-control" id="inputUsername" placeholder="Mail Adresiniz" />                                  
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inputPassword2">Şifre</label>
                                                <div class="controls">
                                                    <input type="password" name="password" value="" class="form-control" id="inputPassword2" placeholder="Şifreniz" autocomplete="off" />                                  
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Şifre Tekrar</label>
                                                <div class="controls">
                                                    <input type="password" name="password_confirm" value="" class="form-control" id="inputPasswordConfirm" placeholder="Şifre Tekrar" autocomplete="off" />                                  
                                                </div>
                                            </div>        

                                            <div class="control-group">
                                                <label class="control-label">Telefon</label>
                                                <div class="controls">
                                                    <input type="text" name="phone" value="" class="form-control" id="inputPhone" placeholder="Telefon" />                                  
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="btn btn-danger">Kayıt Ol</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.widget-form--> 
                                </div>
                            </div>
                        </div><!-- /.center-content -->
                    </div>
                </div>
            </main><!-- /.main-part--> 