<% layout("layout") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="nav nav-tabs">
				<li style="width: 50%;" class="active"><a data-toggle="tab" href="#home"><span class="text-center"><i class="fa fa-car"></i> TAŞIT</span></a></li>
				<li style="width: 50%;"><a data-toggle="tab" href="#menu1"> <i class="fa fa-home"></i> EMLAK</a></li>
			</ul>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<h3>TAŞIT</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et
						dolore magna aliqua.</p>
				</div>
				<div id="menu1" class="tab-pane fade">
					<h3>EMLAK</h3>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>