<% layout("../layout") %>

<main class="main main-container section-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="widget widget-box widget-section box-container widget-contact-info">
                    <div class="widget-header text-uppercase">
                        İLAN ARIYOR
                    </div>
                    <h4><strong class="text-color-primary">MerkezAdres</strong></h4> - - - - - - 
                    <br /> - - - -  - - - - - - - <br />
                    <br />
                    <strong class="text-color-primary">Tel:</strong> +- ---- --- -- -- <br />
                    <strong class="text-color-primary">Fax:</strong> +- ---- --- -- --<br />
                    <strong class="text-color-primary">Mail:</strong> info@ilanariyor.com
                </section>  
                <div class="widget widget-box widget-section box-container widget-contactform">
                    <div class="widget-header text-uppercase">
                        İletişim Formu
                    </div>
                    <form class="form-additional">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="input" placeholder="Adınız ve Soyadınız" />
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="input" placeholder="Email Adresiniz" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="input" placeholder="Telefonunuz" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Mesajınız"  rows='3'></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group clearfix">
                                    <button class="btn btn-primary color-primary pull-right" type='submit'>Gönder</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  <!-- /. widget-map  -->    

            </div><!-- /.center-content -->
            <!-- /.right side bar -->
        </div>
    </div>
</main><!-- /.main-part--> 