<% layout("../layout") %>
<main class="main section-color-primary">
    <div class="container">
        <section class="top-title">
            <ul class="breadcrumb">
                <li class="item"><a href="/"> Anasayfa </a></li>
                <li class="item"> İlan Detay </li>
            </ul>
            <h1 class="h-side-title page-title page-title-big text-color-primary">İlan Başlık</h1> 
        </section> <!-- /. content-header --> 
        <div class="row">
            <div class="col-md-9">
                <div class="widget widget-box box-container widget-property">
                    <div class="property-slider-box">
                        <div id="property-slider" class="property-slider carousel slide" data-ride="carousel">
                            <!-- Content -->
                            <div class="carousel-inner" role="listbox">
                                <!-- Slide 1 -->
                                <div class="item active">
                                    <img src="../../../front/assets/img/placeholders/815x460.png"/>
                                </div>
                                <!-- Slide 2 -->
                                <div class="item">
                                    <img src="../../../front/assets/img/placeholders/815x460.png"/>
                                </div>
                                <!-- Slide 3 -->
                                <div class="item">
                                    <img src="../../../front/assets/img/placeholders/815x460.png"/>
                                </div>
                            </div>
                            <!-- Previous/Next controls -->
                            <a class="left carousel-control" href="#property-slider" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Geri</span>
                            </a>
                            <a class="right carousel-control" href="#property-slider" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">İleri</span>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-header widget-title text-uppercase">
                            <h2>İlan Açıklaması</h2> 
                        </div>
                        <div class="widget-content wide-p">
                            <p class='clearfix'>
                                <img src="../../../front/assets/img/placeholders/450x300.png"  class="pull-right-img" alt="" />
                                This is simply dummy text of the printing and typesetting industry. That has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Layout passages. This is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div> 
                </div> <!-- /. widget-body --> 
                <div class="widget widget-box box-container widget-overview visible-sm visible-xs">
                    <div class="widget-header text-uppercase">
                        <h2>Overview</h2> 
                    </div>
                    <ul class="list-overview">
                        <li>
                            <span class="list-overview-option">Address</span>
                            <span class="list-overview-value">Vatikanska 11, Zagreb</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Purpose: </span>
                            <span class="list-overview-value"><span class="label label-default label-tag-primary">sale</span></span>
                        </li>
                        <li>
                            <span class="list-overview-option">Type: </span>
                            <span class="list-overview-value">House</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Country: </span>
                            <span class="list-overview-value">Zagreb</span>
                        </li>
                        <li>
                            <span class="list-overview-option">City </span>
                            <span class="list-overview-value">Zagreb</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Area: </span>
                            <span class="list-overview-value">More than 100m2</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Size precise:    </span>
                            <span class="list-overview-value"> 200 m2</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Energy efficiency:   </span>
                            <span class="list-overview-value">-</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Bathrooms: </span>
                            <span class="list-overview-value">3</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Bedrooms: </span>
                            <span class="list-overview-value">2</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Roooms: </span>
                            <span class="list-overview-value">20</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Ownerships: </span>
                            <span class="list-overview-value">Owner</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Floor: </span>
                            <span class="list-overview-value">3</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Energy efficient:</span>
                            <span class="list-overview-value">80 kWh EP / m<sup><small>2</small></sup></span>
                        </li>
                        <li>
                            <span class="list-overview-option">Gas emissions: </span>
                            <span class="list-overview-value">30 kg CO2 / m<sup><small>2</small></sup></span>
                        </li>
                        <li>
                            <span class="list-overview-option">Views Counter: 	 </span>
                            <span class="list-overview-value">15119</span>
                        </li>
                        <li>
                            <span class="list-overview-option">Pro</span>
                            <span class="list-overview-value">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </span>
                        </li>
                    </ul>
                </div><!-- /. widget-OVERVIEW -->   
                <!-- <div class="widget widget-box box-container">
                    <div class="widget-header text-uppercase">
                        <h2>Indoor amenities</h2> 
                    </div>
                    <ul class="amenities text-color-primary clearfix">
                        <li>
                            <i class="icon-air"></i><span>Air conditioning</span><i class="icon-checked"></i>
                        </li>
                        <li>
                            <i class="icon-move"></i><span>Cable TV</span><i class="icon-checked"></i>
                        </li>
                        <li>
                            <i class="icon-pc"></i><span>Computer</span><i class="icon-checked"></i>
                        </li>
                        <li>
                            <i class="icon-micro"></i><span>Microwave</span><i class="icon-checked"></i>
                        </li>
                    </ul>
                </div>   
                <div class="widget widget-box box-container widget-property-map">
                    <div class="widget-header text-uppercase">
                        <h2>Property location</h2> 
                    </div>
                    <div class="places_select">
                        <a class="btn btn-large" data-rel="hospital,health"><img src="../../../front/assets/img/places_icons/hospital.png" alt='hospital,health'/> Health</a>
                        <a class="btn btn-large" data-rel="park"><img src="../../../front/assets/img/places_icons/park.png" alt='park' /> Park</a>
                        <a class="btn btn-large" data-rel="atm,bank"><img src="../../../front/assets/img/places_icons/atm.png" alt='atm'/> ATMBank</a>
                        <a class="btn btn-large" data-rel="gas_station"><img src="../../../front/assets/img/places_icons/petrol.png" alt="gas_station"/> PetrolPump</a>
                        <a class="btn btn-large" data-rel="food,bar,cafe,restourant"><img src="../../../front/assets/img/places_icons/restourant.png" alt="food" /> Restourant</a>
                        <a class="btn btn-large" data-rel="store"><img src="../../../front/assets/img/places_icons/store.png" alt="store"/> Store</a>
                    </div>
                    <div class="property-map" id='property-map' style='height: 385px;'></div>
                    <div class="route_suggestion form-additional">
                        <input id="route_from" class="inputtext w360 form-control" type="text" value="" placeholder="Type your address" name="route_from" />
                        <a id="route_from_button" href="#" class="btn-second">Suggest route</a>
                    </div>
                </div>      -->
                <div class="widget widget-box box-container">
                    <div class="widget-header text-uppercase">
                        <h2>Galeri</h2>
                    </div>
                    <ul data-target="#modal-gallery" data-toggle="modal-gallery" class="images-gallery clearfix">  
                        <li class="col-sm-4">
                            <a data-gallery="gallery" href="../../../front/assets/img/placeholders/1600x1080.png" title="" download="../../../front/assets/img/placeholders/1600x1080.png" class="preview show-icon">
                                <img src="../../../front/assets/img/preview-icon.png" class="" alt=""/>
                            </a>
                            <div class="preview-img"><img src="../../../front/assets/img/placeholders/360x210.png" data-src="../../../front/assets/img/placeholders/1600x1080.png" alt="" class="" /></div>
                        </li>
                        <li class="col-sm-4">
                            <a data-gallery="gallery" href="../../../front/assets/img/placeholders/1600x1080.png" title="" download="../../../front/assets/img/placeholders/1600x1080.png" class="preview show-icon">
                                <img src="../../../front/assets/img/preview-icon.png" class="" alt=""/>
                            </a>
                            <div class="preview-img"><img src="../../../front/assets/img/placeholders/360x210.png" data-src="../../../front/assets/img/placeholders/1600x1080.png" alt="" class="" /></div>
                        </li>
                        <li class="col-sm-4">
                            <a data-gallery="gallery" href="../../../front/assets/img/placeholders/1600x1080.png" title="" download="../../../front/assets/img/placeholders/1600x1080.png" class="preview show-icon">
                                <img src="../../../front/assets/img/preview-icon.png" class="" alt=""/>
                            </a>
                            <div class="preview-img"><img src="../../../front/assets/img/placeholders/360x210.png" data-src="../../../front/assets/img/placeholders/1600x1080.png" alt="" class="" /></div>
                        </li>
                    </ul>
                </div> 
            </div><!-- /.center-content -->
            <div class="col-md-3">
                <div class="widget widget-box box-container widget-overview hidden-sm  hidden-xs">
                    <div class="widget-header text-uppercase">
                        <h2>Özellikler</h2> 
                    </div>
                    <ul class="list-overview">
                        <li class="custom-address">
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value" title="Vatikanska 11, Zagreb">Vatikanska 11, Zagreb</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value"><span class="label label-default label-tag-primary">sale</span></span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">House</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">Zagreb</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">Zagreb</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">More than 100m2</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value"> 200 m2</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">-</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">3</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">2</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">20</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">Owner</span> -->
                        </li>
                        <li class="custom-en">
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">3</span> -->
                        </li>
                        <li class="custom-en">
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value" title="80 kWh EP / m">80 kWh EP / m<sup><small>2</small></sup></span> -->
                        </li>
                        <li  class="custom-en">
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value"  title="30 kg CO2 / m">30 kg CO2 / m<sup><small>2</small></sup></span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Özellik : </span>
                            <!-- <span class="list-overview-value">15119</span> -->
                        </li>
                        <li>
                            <span class="list-overview-option">Pro</span>
                            <span class="list-overview-value">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </span>
                        </li>
                    </ul>
                </div><!-- /. widget-OVERVIEW -->   
                <a href='listing_print.html' class="btn btn-primary color-primary btn-property btn-print">Çıktı al</a>

                <div class="widget widget-ads-right">
                    <img src="../../../front/assets/img/placeholders/265x220.png" alt="" class="center-block" />
                </div><!-- /.widget-ads--> 
            </div>
            <!-- /.right side bar -->
        </div>
    </div>
</main><!-- /.main-part-->  